<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gamers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>John</string>
			<key>Game</key>
			<string>Dungeons and Dragons</string>
			<key>Store</key>
			<string>Titan Games &amp; Comics</string>
			<key>Time</key>
			<string>9:00</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jessica</string>
			<key>Game</key>
			<string>HearthStone</string>
			<key>Store</key>
			<string>Raven&apos;s Nest Games</string>
			<key>Time</key>
			<string>17:35</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Carlos</string>
			<key>Game</key>
			<string>Yu-Gi-Oh</string>
			<key>Store</key>
			<string>Dr. No&apos;s Comics &amp; Games SuperStore</string>
			<key>Time</key>
			<string>18:00</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Angela</string>
			<key>Game</key>
			<string>HearthStone</string>
			<key>Store</key>
			<string>Epikos Comics, Cards &amp; Games</string>
			<key>Time</key>
			<string>10:30</string>
		</dict>
	</array>
</dict>
</plist>
